<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Slidecast.io - present your slides live</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Slidecast.io | No Projector? No problem! Slidecast allows you to present your slides on multiple devices">


    <link rel="stylesheet" href="/static/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/static/css/helper.css">

    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Quicksand:300" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/cover.css?v=d{{ range(1, 1000) | random }}">

    <link rel='shortcut icon' type='image/x-icon' href='/static/css/magic-wand-icon.png'/>

    <script>
    var PUSHER_CHAT_APP_KEY = '{{ pusher_app_key }}';
    var SESSION_TOKEN = '{{ session_token }}';
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-38226683-3', 'auto');
        ga('send', 'pageview');

    </script>

    <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("3410001471");
    </script>

</head>
<body>

    <div id="app" class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container container">
                <div class="Loading_Spinner">
                <div class="spinner-inner">
                    <div class="spinner_rings"></div>
                    <div class="spinner_text">
                        Loading...
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script src="/static/javascript/bundle.js?v=d{{ range(1, 1000) | random }}" type="text/javascript"></script>
</body>
</html>
