<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Slidecast.io - present slides on multiple screens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="../static/css/helper.css">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/cover.css?v=d{{ range(1, 1000) | random }}">

    <link rel='shortcut icon' type='image/x-icon' href='../static/css/magic-wand-icon.png'/>

    <script>
    var PUSHER_CHAT_APP_KEY = '{{ pusher_app_key }}';
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-38226683-3', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>

    <div id="app" class="site-wrapper">
    </div>
    <script src="../static/javascript/bundle.js?v=d{{ range(1, 1000) | random }}" type="text/javascript"></script>
</body>
</html>
